@model Exchange.Private.DataTypes.ExchangeRateData



<tr>
    <td>@Model.From</td>
    <td>@Model.To</td>
    <td>@Model.ExchangeRateString</td>
    <td>@Model.BindPrice</td>
    <td>@Model.AskPrice</td>


    <td>@Model.LastRefreshed</td>
</tr>
