@model MetaData

@using (@Html.BeginForm("ChartData", "Chart"))
{

    <td>@Model.From</td>
    <td>@Html.RouteLink(Model.To.ToString(), new { controller = "Chart", action = "Index", code =  Model.To})</td>
    <td>@Model.ExchangeRateString</td>
    <td>@Model.BindPrice</td>
    <td>@Model.AskPrice</td>

    <td>@Model.LastRefreshed</td>

}