@model MetaData

<div>
@using (@Html.BeginForm("ChartData", "Chart"))
{

    <td>@Model.From</td>
    <td>@Model.To</td>
    <td>@Model.ExchangeRateString</td>
    <td>@Model.BindPrice</td>
    <td>@Model.AskPrice</td>

    <td>@Model.LastRefreshed</td>

}
</div>